<div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!loading">
  <div class="description-container">
    <h1>World Population By Year</h1>
    <h2>{{ currentYear }}</h2>
  </div>

  @for (entry of visibleData; track entry.country) {
  <div class="chart-row" #barRef>
    <div class="country-name">{{ entry.country }}</div>
    <div class="bar-container">
      <div
        class="bar-fill"
        [style.width.%]="(entry.carbon / getMaxCarbon()) * 100"
        [style.backgroundColor]="getColor($index)"
      ></div>
    </div>
    <div class="carbon-value">{{ entry.carbon | number : "1.2-2" }}</div>
  </div>
  }
</div>
